@font-face {
  font-family: "obviously";
  src:
    url("../fonts/obviously-regular.woff2") format("woff2"),
    url("../fonts/obviously-regular.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "obviously-wide";
  src:
    url("../fonts/obviously-wide-bold.woff2") format("woff2"),
    url("../fonts/obviously-wide-bold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "obviously";
  src:
    url("../fonts/obviously-black.woff2") format("woff2"),
    url("../fonts/obviously-black.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
