// Typography
.heading-wide {
  font-family: $font-family-headings-wide;
}

.heading-narrow {
  font-family: $font-family-headings-narrow;
}

// Colors
.text-red {
  color: $red;
}

.bg-red {
  background: $red;
}
