// Colors
$white: #fff;
$black: #070004;
$red: #be1f30;
$primary: $red;

// Typography
$font-family-sans-serif: inter, sans-serif;
$font-family-headings-wide: 'obviously-wide', sans-serif;
$font-family-headings-narrow: 'obviously-narrow', sans-serif;

// Hamburger icosn
$hamburger-types: (elastic);
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-color: $white;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-layer-height: 2px;

// Brand radius
$brand-radius: 3rem 3rem 3rem 0;

// Navbar
$navbar-safe-area: 7.5em;
$navbar-safe-area-loose: 12rem;