// Colors
$white: #fff;
$black: #070004;
$red: #be1f30;
$primary: $red;
$gray-100: #eef0f6;
$gray-200: #e5e7ed;
$gray-300: #d1d3db;
$gray-400: #bec0c8;
$gray-500: #aaadb6;
$gray-600: #979aa4;
$gray-700: #707380;
$gray-800: #414554;
$gray-900: #353949;

// Typography
$font-family-sans-serif: obviously, sans-serif;
$font-family-headings-wide: obviously-wide, sans-serif;

// Hamburger icosn
$hamburger-types: (elastic);
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-color: $white;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-layer-height: 2px;

// Brand radius
$brand-radius: 3rem 3rem 3rem 0;

// Navbar
$navbar-safe-area: 7.5em;
$navbar-safe-area-loose: 12rem;