// Colors
$white: #fff;
$black: #070004;
$red: #be1f30;
$primary: $red;

// Typography
$font-family-sans-serif: manrope, sans-serif;
$font-family-headings-wide: 'obviously-wide', sans-serif;
$font-family-headings-narrow: 'obviously-narrow', sans-serif;
